.Card {
  font-family: sans-serif;
  margin: 20px auto;
  width: 450px;
  border: 1.5px solid black;
  overflow: hidden;
  border-bottom-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
}

.Card-Header {
  background-color: #fafafa;
}

.Card-Header img {
  vertical-align: inherit;
  margin-right: 5px !important;
  width: 25px;
}

.Card-Header a {
  color: #73859d;
  vertical-align: middle;
}

.Card-Header a:hover {
  text-decoration: underline;
}

.Card-Header a > span {
  margin: 0 0 0 -16px;
}

.Card-Body {
  border-radius: 0 0 15px 15px;
  background-image: url("https://media.discordapp.net/attachments/836842421501034546/1001667894947618906/Delaware-Legislative-Hall-Dover.png");
  background-position: 85% 25%;
  box-sizing: border-box;
  width: 450px;
  height: 200px;
  padding: 15px;
  position: relative;
}
