<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">

    <header>
      <%- include('../partials/header'); %>
    </header>

    <main>
      <div class="jumbotron">
        <h1>Non-Partisan Widgets</h1>
        <h2>Test Widget:</h2>
        <p>Do the thing with the stuff and make it happen.</p>
      </div>
      <script src="/widgets/widget/<%= page %>?widgetDivId=npdTestWidget" defer></script>
      <div id="npdTestWidget" />
    </main>

    <footer>
      <%- include('../partials/footer'); %>
    </footer>

  </body>
</html>